<br>
<div class="container">
  <br>
  <div class="container">
    <br>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 show-card p-4 pr-1">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :contact,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-contact-phone" } %>
            <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
            <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
          </div>
          <hr>
          <%= f.button :submit, "Update", class: "form-actions mt-4 btn btn-block btn-contrast w-100" %>
        <% end %>
        <br>
        <br>
        <div class="show-card">
          <div class="container text-center">
            <h3>Cancel my account</h3>
            <p>Are you unhappy <%= resource_name.to_s.humanize %>?</p>
            <%= link_to "Back", :back, class: 'btn btn-block btn-outline-white w-100' %>
            <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-block btn-danger w-100' %>
          </div>
        </div>
      </div>
    </div>
