<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('carbon-fiber.jpg') %>);">
  <div class="banner-text">
    <i class="fas fa-language fa-10x"></i>
    <h1 class="mb-5">Find a translation buddy in your region.</h1>
    <%= link_to "View all offers", offers_path, class: "btn btn-contrast btn-lg link shrink-on-hover" %>
  </div>
</div>
  <%# ---------------------------- OPTION CARDS ----------------------------- %>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 home-options">
      <i class="fas fa-language home-icon"></i>
      <h4>Are you a translator?</h4>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-contrast" %>
    </div>
    <div class="col-12 col-lg-6 show-card">
      <div class="options">
        <i class="far fa-comments icon"></i>
        <h4>Looking for a translator?</h4>
        <%= link_to "Find Here", offers_path, class: "btn btn-contrast" %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 show-card p-4 pr-1">
      <div class="options">
        <i class="fas fa-language icon"></i>
        <h4>Tradutor?</h4>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-contrast" %>
      </div>
    </div>
    <div class="col-12 col-lg-6 show-card p-4 pr-1">
      <div class="options">
        <i class="far fa-comments icon"></i>
        <h4>Procura um tradutor?</h4>
        <%= link_to "Find Here", offers_path, class: "btn btn-contrast" %>
      </div>
    </div>
  </div>
</div> -->
<footer class="flex-col">
  <div class="social-links-container bg-secondary">
    <div class="wrapper flex-col center">
      <div class="copyright-container">
        <p> Copyright &copy; 2021 TranslApp, Inc. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
