<div class="container my-5">
  <h1>My requests</h1>
  <div class="cards mt-4">
    <% @translation_services.each do |translation_service| %>
      <%= link_to translation_service_path(translation_service) do %>
        <div class="card-product mb-3" style="<%= 'opacity: 0.5;' if translation_service.status == 'concluded' || translation_service.status == 'deleted' %>">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
          <h2><%= translation_service.original_language %> > <%= translation_service.final_language %></h2>
          <% if translation_service.job %>
            <p>Your translator for this service is <strong><%= translation_service.job.user.name %></strong>.</p>
          <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
