<%= simple_form_for(@offer) do |f| %>
  <div class="form-inputs">
    <%= f.input :location,
          input_html: { id: 'city-input' },
          required: true,
          autofocus: true %>
    <%= f.input :remote, as: :boolean %>
    <%= f.input :original_language,
          input_html: { id: 'original-language-input' },
          required: true %>
    <%= f.input :final_language,
          input_html: { id: 'final-language-input' },
          required: true %>
    <%= f.input :description,
          required: true %>
    <%= f.input :price_per_hour,
          required: true %>
  </div>
  <div class="form-actions btn btn-primary border-rounder btn-lg btn-block">
    <%= f.button :submit %>
  </div>
<% end %>
