<div class="container my-5">
  <h1>All requests</h1>
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-4">
        <div class="cards">
          <div class="card-trip my-3">
            <%= link_to offer_path(offer) do %>
              <div class="card-image" style="background-image: url('https://source.unsplash.com/featured/?people?<%= offer.id %>');height: 200px;background-size: cover;padding: 10px;">
                <% if offer.remote %>
                  <i class="fas fa-laptop-house"></i>
                <% end %>
              </div>
              <div class="card-trip-infos">
                <div>
                  <h2><%= offer.original_language %> > <%= offer.final_language %></h2>
                  <p><%= offer.description %></p>
                </div>
                <h2 class="card-trip-pricing">$<%= offer.price_per_hour %></h2>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
