<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 p-4 pr-1">
      <h1>My offers</h1>
      <div class="cards mt-4">
        <% @offers.each do |offer| %>
          <div class="card-list mb-3 pl-2">
            <div class="card-list-status">
              <% if offer.status == 'available' %>
                <div class="card-list-status card-list-status-available">
                  <i class="fas fa-calendar"></i>
                </div>
              <% elsif offer.status == 'accepted' %>
                <div class="card-list-status card-list-status-accepted">
                  <i class="fas fa-calendar-alt"></i>
                </div>
              <% elsif offer.status == 'concluded' %>
                <div class="card-list-status card-list-status-concluded">
                  <i class="fas fa-calendar-check"></i>
                </div>
              <% elsif offer.status == 'deleted' %>
                <div class="card-list-status card-list-status-cancelled">
                  <i class="fas fa-calendar-times"></i>
                </div>
              <% end %>
            </div>
            <div class="card-list-description p-3">
              <div class="card-list-header">
                <div class="card-list-header-text">
                  <p class="card-list-subtitle m-0 p0"><%= offer.remote ? 'Remote' : offer.location %></p>
                  <h2 class="m0 p0"><%= offer.original_language %> > <%= offer.final_language %></h2>
                </div>
                <div class="card-list-actions">
                  <%= link_to '', edit_offer_path(offer), class: 'fas fa-pen' %>
                  <%= link_to '', offer_path(offer), method: :delete, data: { confirm: 'Are you sure you want to cancel it?' }, class: 'fas fa-trash' %>
                </div>
              </div>
              <% if offer.status == 'accepted' || offer.status == 'concluded' %>
                <p class="m0 p0"><%= offer.job.user.name %></p>
                <h4 class="m0 p0">Final cost: $ <%= offer.job.final_cost %></h4>
              <% else %>
                <h4 class="m0 p0">$<%= '%.2f' % offer.price_per_hour %> per hour</h4>
              <% end %>
              <div class="float-right">
                <%= link_to 'Details', offer_path(offer), class: 'btn btn-outline-contrast' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
