<br>
<div class="container mb-5">
  <h3 class="text-center">Add a new translation offer</h3>
  <br>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <%= simple_form_for(@offer) do |f| %>
        <div class="form-inputs">
          <%= f.input :location,
                required: true,
                autofocus: true %>
          <%= f.input :remote, as: :boolean %>
          <%= f.input :original_language,
                required: true %>
          <%= f.input :final_language,
                required: true %>
          <%= f.input :description,
                required: false %>
          <%= f.input :price_per_hour,
                required: true %>
        </div>
        <div class="form-actions btn btn-primary border-rounder btn-lg btn-block">
          <%= f.button :submit, "Create translation service" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
