<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 px-4 py-5 show-card">
      <div class="show-header">
        <div class="py-4 pr-1">
          <h5 class="show-subtitle"><%= @offer.remote ? 'Remote' : @offer.location %></h5>
          <h1><%= @offer.original_language %> > <%= @offer.final_language %></h1>
          <p>Requested by: <img src="https://source.unsplash.com/featured/?people?<%= @offer.user.id %>" class="avatar avatar-20"> <%= @offer.user.name %></p>
        </div>
        <div class="show-side-box w-50 p-4">
          <p class="mb-1">Suggested price:</p>
          <h2 class="mb-3">$ <%= @offer.price_per_hour %></h2>
          <div class="show-reaction-buttons">
            <%# ---------------------------- OFFER OWNER OPTIONS ---------------------------- %>
            <%= link_to 'Edit', edit_offer_path(@offer), class: 'btn btn-outline-contrast' if @offer.user == current_user %>
            <%= link_to 'Cancel', offer_path(@offer), method: :delete, data: { confirm: 'Are you sure you want to cancel it?' }, class: 'btn btn-outline-contrast' if @offer.user == current_user %>
            <%# ---------------------------- OTHER USERS OPTIONS ---------------------------- %>
            <%= link_to 'Apply', offer_jobs_path(@offer), method: :post, class: 'btn btn-contrast w-100' unless @offer.user == current_user %>
          </div>
        </div>
      </div>
      <div class="description my-5">
        <h2>Description</h2>
        <p><%= @offer.description ? @offer.description : '' %></p>
      </div>
      <%= link_to 'Back', offers_path, class: 'btn btn-outline-secondary' %>
    </div>
  </div>
</div>
